.ct-menu 
{
    text-align: center;
    position: relative;
    z-index: 20;

    .redes-sociais 
    {
        display: inline-block;
        margin: 20px 0;
    }

}

.menu 
{
    background-color: transparent;
    border: 0 none;
    display: inline-block;

    .nav-menu 
    {
        display: inline-block;
        padding: 0;
        margin: 20px 0;

        li 
        {
            display: inline-block;
            margin: 0 20px;

            a 
            {
                color: $menuColor;
                display: block;
                font-size: $fontSizeBase * 1.3;
                font-family: $primaryFont;
                padding-bottom: 5px;
                position: relative;
                text-transform: uppercase;
                transition: $transitionAll;
    
                &::before 
                {
                    content: "";
                    background-color: $colorDestaque;
                    width: 0;
                    height: 4px;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transition: $transitionAll3s;
                }
    
                &.ativo,
                &:hover 
                {
                    &::before 
                    {
                        width: 100%;
                        left: 0;
                    }
                }
    
            }
    
            &.especial 
            {
                a  
                {
                    font-size: $fontSizeBase * 1.7;
                    &::before 
                    {
                        display: none;
                    }
                }
            }            

        }

        .espaco-right
        {
            margin-right: 95px;
        }
    
        .espaco-left
        {
            margin-left: 95px;
        }        

    }

}