#ss-slider
{
    position: relative;

    .redes-sociais
    {
        display: none;
        @include breakpoint($allCelular)
        {
            display: block;
            position: absolute;
            top: 0;
            left: 20px;
            width: 180px;
            z-index: 10;
        }             
    }
}

.slider-home
{    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;

    .legenda 
    {
        width: 100%;
        text-align: left;
        position: absolute;
        top: 25%;
        left: 0;
        z-index: 20;

        @include breakpoint($allCelular)
        {
            top: 36%;
        }         

        .titulo-slide 
        {
            text-align: right;
            float: right;
            width: 550px;
            max-width: 100%;

            @include breakpoint($smallDesktop)
            {
                width: 400px;
            }

            @include breakpoint($tablet)
            {
                width: 400px;
            }              

            @include breakpoint($allCelular)
            {
                width: 350px;
            }    

            h2 
            {   
                color: $secondaryColor;
                font-size: $fontSizeBase * 3.5;
                font-weight: $fontWeightMedium;
                line-height: 2.2em;
                padding: 0;
                margin: 30px 0;

                @include breakpoint($smallDesktop)
                {
                    font-size: $fontSizeBase * 2.5;
                }

                @include breakpoint($tablet)
                {
                    font-size: $fontSizeBase * 2.1;
                    line-height: 2.4em;
                }

                @include breakpoint($allCelular)
                {
                    font-size: $fontSizeBase * 1.9;
                    line-height: 2.4em;
                }          

                span 
                {
                    background: $colorDestaque1;
                    display: inline;
                    padding: 15px 30px;

                    @include breakpoint($smallDesktop)
                    {
                        padding: 10px;
                    }

                    @include breakpoint($tablet)
                    {
                        padding: 10px;
                    }

                    @include breakpoint($allCelular)
                    {
                        padding: 10px;
                    }          
                        
                }

            }       

        }

    }

    .owl-home
    {

        .owl-item
        {
            text-align: center;
            img 
            {
                margin: 0 auto;
                max-width: 100%;
                @include breakpoint($allCelular)
                {
                    max-width: initial;
                    height: 400px;
                    width: auto;
                }
            }
        }

        .owl-nav
        {
            margin: -88px auto 0;
            position: relative;
            overflow: hidden;
            height: 30px;
            padding: 40px 0;
            z-index: 10;
            bottom: 0;

            @include breakpoint($largeDesktop)
            {
                width: 1170px;
            }   
            
            @include breakpoint($allDesktop)
            {
                width: 970px;
            } 
            
            @include breakpoint($celular)
            {
                width: 750px;
            }   
            
            @include breakpoint($allCelular)
            {
                width: 90%;
            }

        }

        .owl-next, .owl-prev 
        {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            color: $secondaryColor;
        }

        .owl-next 
        {
            right: 0;
        }

        .owl-prev 
        {
            left: 0;
        }

        .owl-dots 
        {
            position: relative;
            text-align: center;
            margin: -40px auto 0;
            z-index: 9999;
            height: 40px;

            @include breakpoint($largeDesktop)
            {
                width: 1110px;
            }   
            
            @include breakpoint($allDesktop)
            {
                width: 910px;
            } 
            
            @include breakpoint($celular)
            {
                width: 690px;
            }   
            
            @include breakpoint($allCelular)
            {
                width: 70%;
            }

            .owl-dot 
            {
                display: inline-block;
                zoom: 1;

                span 
                {
                    background: $secondaryColor;
                    color: $secondaryColor;
                    display: block;
                    font-size: $fontSizeBase * 1.5;
                    width: 50px;
                    height: 4px;
                    margin: 5px;
                    padding: 2px 0;
                    opacity: .7;
                    transition: opacity .2s ease;    
                }

                &.active,
                &:hover
                {
                    span 
                    {
                        opacity: 1; 
                    }
                }

            }
        }

    }

}