$colorDestaque: #0095da;

//Background Colors
$bgColorPrimary: #085679;
$bgColorSecondary: #721b1d;
$bgColorThird: #0095da;
$bgColorFourth: #bce7fb;
$bgColorFifthy: #0972a1;
$bgColorInput: #e5e6e6;
$bgGaleria: #f2f2f2;
$bgContato: #f2f2f2; 
$bgBtnsSlider: #06435e;

//Cores
$menuColor: #085679;
$primaryColor: #4e4e4e;  
$secondaryColor: $colorDestaque;
$colorCadastrese: #fbea00;
$colorSubmitBtn: #fbea00;
$colorTituloDestaqueBanner: #085679;
$colorPDestaqueBanner: #0095da;
$colorTituloGaleria: #4e4e4e;
$colorFonesContato: #0972a1;

//Border Cores
$borderBottomContato: #0971a0;
$borderContato: #f2f2f2; 

//Fontes  
$primaryFont: 'Montserrat', sans-serif;

$fontSizeBase: 10px;
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

//Transitions
$borderRadius: 100%;
$transitionAll: all .5s ease-in-out;
$transitionAll3s: all .3s ease-in-out;

//Media Queries

    //Desktops
    $largeDesktop: 1200px; // > 1200px
    $smallDesktop: 992px 1199px; // entre 1200px e 992px 
    $allDesktop: 992px; // > 992px

    //Tablets
    $tablet: 768px 991px; //tablets portrait: 

    //Celular
    $celular: 768px;
    $allCelular: 0 767px; // todos os dispositivos móveis < 768px
    $largeCelular: 481 767px;
    $smallCelular: 0 480px; 